x64
Release
Debug
.vs
*.user
*.filter
*.DotSettings
data/config/
data/autoexec/
desktop.ini
.DS_Store
Makefile
Makefile.am
Makefile.in
configure.in
configure.ac
bin/
aclocal.m4
autom4te.cache/
.aux/
