
[*]

# ReSharper properties
resharper_anonymous_method_declaration_braces = end_of_line
resharper_case_block_braces = end_of_line
resharper_empty_block_style = together_same_line
resharper_invocable_declaration_braces = end_of_line
resharper_namespace_declaration_braces = end_of_line
resharper_new_line_before_catch = false
resharper_new_line_before_else = false
resharper_new_line_before_while = false
resharper_other_braces = end_of_line
resharper_protobuf_allow_far_alignment = true
resharper_requires_expression_braces = end_of_line
resharper_simple_block_style = on_single_line
resharper_space_after_keywords_in_control_flow_statements = false
resharper_type_declaration_braces = end_of_line
